.home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  overflow: hidden;
}

.bgVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure this is behind other elements */
  pointer-events: painted;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-25deg, rgba(53, 44, 20, 0.7) 0%, rgba(37, 31, 10, 0.9) 100%);
  z-index: 0; /* Ensure this is behind text */
}

.home_container {
  display: grid;
  grid-column: auto;
  gap: 4rem;
}

.home_wrapper {
  width: 100%;
  position: relative; /* Make sure this is positioned relative for z-index to work */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  z-index: 1; /* Place this above the overlay */
  padding-top: 15rem;
}

.half_one_wrapper {
  display: flex;
  flex-direction: column;
}

.best_ad {
  position: relative;
  font-size: 20px;
  color: #ffca7a;
  background: linear-gradient(-25deg, rgb(53, 44, 20) 0%, rgb(37, 31, 10) 100%);
  border-radius: 5px;
  width: fit-content;
  padding: 12px 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.best_ad > span:nth-of-type(1) {
  z-index: 2;
  color: #1f1f1f;
  font-style: italic;
  padding-right: 10px;
}

.best_ad > div {
  width: 3.5rem;
  height: 65%;
  position: absolute;
  background-color: #ffca7a;
  border-radius: 5px;
  left: 8px;
}

.home_title {
  width: 100%;
  display: flex;
  font-weight: 900;
  padding-top: 4rem;
  padding-bottom: 1rem;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2; /* Place this above the home_container */
  color: #ffca7a; /* Adjust the color as needed */
  font-size: 2.5rem; /* Adjust the font size as needed */
}

h1 {
  width: 95%;
}

.title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.title.active {
  opacity: 1;
}

.title.hidden {
  display: none;
}

.home_paragraph {
  width: 70%;
  color: #d2c79f;
  font-style: italic;
}

.socials_and_scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stroke_text {
  font-style: italic;
}

.quotation_button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .home_wrapper {
    padding-top: 15rem;
  }

  .half_one_wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .best_ad {
    margin-bottom: 1rem;
  }

  .home_title {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .home_paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home_wrapper {
    flex-direction: column;
    padding-top: 3rem;
  }

  .half_one_wrapper {
    padding-top: 2rem;
  }

  .home_title {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding-top: 1rem;
  }

  .best_ad {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .home_image {
    max-width: 230px;
    max-height: 230px;
  }

  .home_title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .nav_menu ul {
    column-gap: 0;
  }

  nav {
    padding: 0 1rem;
  }
}
