/* Wrapping container */
.services {
  height: auto;
  padding: 0 5%;
  background-color: rgba(211, 204, 184, 0.9);
  overflow: hidden;
}

/* Header styles */
.services_header {
  padding-top: 5%;
}

.services_title {
  text-align: center;
  font-size: 2rem;
  font-family: 'HeroTitleFont', sans-serif;
  font-weight: bold;
  color: #3c2411;
  line-height: 3.4375rem;
}

.services_subtitle {
  text-align: center;
  font-size: 1.125rem;
  padding: 20px 0;
  font-family: 'HeaderFont', sans-serif;
  font-weight: bold;
  color: #1a3d31;
}

/* Grid container */
.services_grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 0;
}

/* Image wrapper */
.services_image_wrapper {
  grid-column: 7 / 11;
  grid-row: 1 / 4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services_image {
  width: 50%;
  object-fit: contain;
  opacity: 0.8;
}

/* Services card */
.services_card {
  margin-bottom: 1rem;
}

.service_icon_text {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service_icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #3c2411;
}

.service_title {
  font-size: 1rem;
  line-height: 1.2rem;
}

.service_description {
  max-width: 20rem;
  font-size: 0.875rem;
  text-align: justify;
  padding-bottom: 20px;
  font-family: 'ParagraphTextFont', sans-serif;
  color: #1a3d31;
}

@media (min-width: 768px) {
  .services {
    height: auto;
  }

  .services_grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4rem;
    margin-top: 0;
  }
}
