.translation {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 5%;
  background-color: rgba(211, 204, 184, 0.9);
}

.heading-container {
  padding-top: 5%;
}

.main-title {
  text-align: center;
  font-size: 2rem;
  font-family: 'heroTitleFont', sans-serif;
  font-weight: bold;
  color: #8b5e34; /* dullBrown */
  line-height: 3.4375rem;
}

.sub-title {
  text-align: center;
  font-size: 1.125rem;
  font-family: 'HeaderFont', sans-serif;
  font-weight: bold;
  color: #1b2a1f; /* darkJungleGreen */
  line-height: 2rem;
  padding: 20px 0;
}

.steps-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: center;
  padding-top: 2rem;
}

.step-item {
  width: 200px;
  display: grid;
  gap: 1rem;
  text-align: center;
  justify-items: center;
}

.icon-container {
  border-radius: 9999px;
  border: 1.5px solid #8b5e34; /* dullBrown */
  background-color: #8b5e34;
  padding: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.step-title {
  font-size: 0.875rem;
  color: #8b5e34; /* dullBrown */
  font-family: 'subHeaderFont', sans-serif;
  font-weight: 500;
}

.step-description {
  max-width: 75%;
  font-size: 0.75rem;
  color: #1b2a1f; /* darkJungleGreen */
  line-height: 1rem;
  font-family: 'paragraphTextFont', sans-serif;
}
